@model BeerApp.Web.ViewModels.Beer.AllBeersResponseViewModel
@{
    ViewBag.Title = "All";
}

<h2>Beers</h2>

@foreach (var beer in Model.Beers)
{
    <h2><a href="~/Beer/Details/@beer.Beer.Url">@beer.Beer.Name</a></h2>
    <h4>
        <strong><a href="~/BeerType/Details/@beer.BeerType.Url">@beer.BeerType.Name</a></strong><br />
        <strong><a href="~/Country/Details/@beer.Country.Url">@beer.Country.Name</a></strong><br />
        @if (beer.Beer.ProducedSince != null)
        {
            <em>In production since @beer.Beer.ProducedSince</em><br />
        }
        <strong>Alcohol Containing: @beer.Beer.AlcoholContaining</strong><br />
    </h4>
    <div>
        <p>
            @beer.Beer.Description
        </p>
    </div>
}

