@using BeerApp.Web.ViewModels.Beer;

@model ICollection<BeerResponseViewModel>
@{
    ViewBag.Title = "All";
}

<h2>Beers</h2>

@foreach (var beer in Model)
{
    <h2><a href="~/Beer/Details/@beer.Url">@beer.Name</a></h2>
    <h4>
        <strong><a href="~/BeerType/Details/@beer.Type.Url">@beer.Type.Name</a></strong><br />
        <strong><a href="~/Country/Details/@beer.Country.Url">@beer.Country.Name</a></strong><br />
        @if (beer.ProducedSince != null)
        {
            <em>In production since @beer.ProducedSince</em><br />
        }
        <strong>Alcohol Containing: @beer.AlcoholContaining</strong><br />
    </h4>
    <div>
        <p>
            @beer.Description
        </p>
    </div>
}

