@model BeerApp.Web.ViewModels.Beer.BeerResponseViewModel

@{
    ViewBag.Title = "Details";
}


<h2><a href="~/Beer/Details/@Model.Url">@Model.Name</a></h2>
<h4>
    <strong><a href="~/BeerType/Details/@Model.Type.Url">@Model.Type.Name</a></strong><br/>
    <strong><a href="~/Country/Details/@Model.Country.Url">@Model.Country.Name</a></strong><br />
    @if (Model.ProducedSince != null)
    {
        <em>In production since @Model.ProducedSince</em><br />
    }
    <strong>Alcohol Containing: @Model.AlcoholContaining</strong><br />
</h4>
<div>
    <p>
        @Model.Description
    </p>
</div>
