@model BeerApp.Web.ViewModels.Beers.BeersResponseViewModel

@{
    ViewBag.Title = "All";
}

<h2>All Beers, Page @Model.CurrentPage</h2>
<div class="row">
    <div class="col-md-6">
        <h5><a href="~/Beer/Add" class="btn btn-success">Add new BEER!</a></h5>
    </div>
</div>
<div class="row">
    @foreach (var beer in @Model.Beers)
    {
        <div class="col-md-6">
            @Html.Partial("_ExtendedBeerPartial", beer)
        </div>
    }
</div>
<div class="row">
    <div class="text-center">
        <nav>
            <ul class="pagination">
                @if (Model.CurrentPage > 1)
            {
                    <li>
                        <a href="/Beers/All/@Model.EncodePage(Model.CurrentPage-1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
            {
                var className = string.Empty;
                if (Model.CurrentPage == i)
                {
                    className = "active";
                }
                <li class="@className"><a href="/Beers/All/@Model.EncodePage(i)">@i</a></li>

                }
                @if (Model.CurrentPage < Model.TotalPages)
            {
                    <li>
                        <a href="/Beers/All/@Model.EncodePage(Model.CurrentPage+1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }

            </ul>
        </nav>

    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h5><a href="~/Beer/All" class="btn btn-default">See all beers</a></h5>
    </div>
</div>

@*TODO : into css file*@
<style>
    div[data-action="up"], div[data-action="down"] {
        cursor: pointer;
    }
</style>
@section scripts {
    <script>
        $("div[data-action='up']").click(function () {
            var id = $(this).attr("data-id");
            voteClick(id, 1);
        });

        $("div[data-action='down']").click(function () {
            var id = $(this).attr("data-id");
            voteClick(id, -1);
        });

        function voteClick(id, voteType) {
            $.post("/BeerVotes/Vote", { beerId: id, voteType: voteType },
                function (data) {
                    var newVotesCount = data.Count;
                    $("div[data-action='votesCount'][data-id='" + id + "']")
                        .html(newVotesCount);
                });
        }
    </script>
}