@model BeerApp.Web.ViewModels.Home.IndexResponseViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3"><img src="~/Content/SiteImages/home-beer.png" class="img-responsive img-rounded" id="welcome-img" alt="two-beers" /></div>
    <div class="col-md-9">
        <h1 class="text-center">Welcome to the "Beerbook".</h1>
        <p>
            Beer is the world's most widely consumed alcoholic beverage and the third most popular drink after water and tea.
            It is produced by the brewing and fermentation of starches, mainly derived from cereal grains—the most common of
            which is malted barley, although wheat, maize (corn), and rice are widely used. Most beer is flavored with hops,
            which add bitterness and act as a natural preservative, though other flavorings such as herbs or fruit may occasionally
            be included. Alcoholic beverages distilled after fermentation, fermented from non-starch sources such as grape juice (wine)
            or honey (mead), or fermented from un-malted starches (rice wine) are not classified as beer.
        </p>
        <p>
            Some of humanity's earliest known writings refer to the production and distribution of beer: the Code of
            Hammurabi included laws regulating beer and beer parlours, and "The Hymn to Ninkasi," a prayer to the
            Mesopotamian goddess of beer, served as both a prayer and as a method of remembering the recipe for beer
            in a culture with few literate people. Today, the brewing industry is a global business, consisting of
            several dominant multinational companies and many thousands of smaller producers ranging from brewpubs to regional breweries.
        </p>
        <p>
            The basics of brewing beer are shared across national and cultural boundaries and are commonly categorized
            into two main types—the globally popular pale lagers, and the regionally distinct ales, which are further
            categorised into other varieties such as pale ale, stout and brown ale. The strength of beer is usually around 4%
            to 6% alcohol by volume (abv.) though may range from less than 1% abv., to over 20% abv. in rare cases.
        </p>
        <p>
            Beer forms part of the culture of various beer-drinking nations and has acquired various social traditions
            and associations, such as beer festivals and a rich pub culture involving activities such as pub crawling or pub games such as bar billiards.
        </p>
    </div>
</div>
<h2>Some Beer Styles</h2>
<div class="row">
    @foreach (var type in Model.BeerTypes.Take(3))
    {
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h4><a href="~/BeerType/Details/@type.Url">@type.Name</a></h4>
                </div>
            </div>
            @if (type.Recipes.Any())
            {
                <div class="row">
                    <div class="col-md-12">
                        <h5>Recipe <a href="~/Recipe/@type.Recipes.FirstOrDefault().Url">@type.Recipes.FirstOrDefault().Title</a>, by @type.Recipes.FirstOrDefault().CreatorName</h5>
                        <p>@(type.Recipes.FirstOrDefault().Content.Length > 201 ? type.Recipes.FirstOrDefault().Content.Substring(0, 200) + "..." : type.Recipes.FirstOrDefault().Content);</p>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-12">
                    <div class="row text-justify"><h5><em>No recipies for this beer style.</em></h5></div>
                </div>
            }
            @foreach (var beer in type.Beers.Take(2))
            {
                @Html.Partial("_BeerPartial",beer)
            }
        </div>
    }
</div>