@model BeerApp.Web.ViewModels.BeerType.BeerTypeDetailsResponseViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.ActionLink(Model.BeerType.Name, "~/BeerType/Details/" + Model.BeerType.Url)</h2>
<div class="row">
    @foreach (var beer in Model.Beers)
    {
        <div class="col-md-4">
            <h4><strong><a href="~/Beer/Details/@beer.Url">@beer.Name</a></strong>, @beer.Country</h4>
            <h6><em>Produced since @beer.ProducedSince</em></h6>
            <p>@beer.Description.Substring(0, 200) ...</p>
        </div>
    }
</div>
