@model BeerApp.Web.ViewModels.BeerType.BeerTypeResponseViewModel

@{
    ViewBag.Title = "Details";
}

<h2><a href="~/BeerType/Details/@Model.Url">@Model.Name</a></h2>

<div class="row">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="col-md-4">
            <h4>Recipe <a href="~/Recipe/@recipe.Url">@recipe.Title</a>, by @recipe.CreatorName</h4>
            <p>@(recipe.Content.Length > 201 ? recipe.Content.Substring(0, 200) + "..." : recipe.Content);</p>
        </div>
    }
</div>

<div class="row">
    @foreach (var beer in Model.Beers)
    {
        <div class="col-md-4">
            @Html.Partial("_BeerPartial", beer)
        </div>
    }
</div>
